.footer {
	&__info {
		background-color: #222222;
		padding: 70px 5%;
		text-align: left;
		font-size: 0;
		div {
			display: inline-block;
			width: 33.333%;
			padding: 0 50px;
			vertical-align: top;
			h6 {
				font-size: 18px;
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
				margin-bottom: 30px;
			}
			p {
				font-family: 'Roboto Slab';
				font-size: 16px;
				width: calc( 100% - 30px);
				display: inline-block;
				color: #ececec;
			}
			img {
				width: 20px;
				margin: 0 10px 0 0;
			}
		}
		&__contact {
			p, img {
				vertical-align: middle;
			}
			p:nth-child(3), p:nth-child(4) {
				margin-left: 30px;
				margin-top: 3px;
				position: relative;
				bottom: 4px;
			}
			li {
				margin: 15px 0;
			}
		}
		&__blog {
			a {
				text-decoration: none;
			}
			p, img {
				vertical-align: middle;
				transition: all 0.5s;
				&:hover {
					color: #7cc576;
				}
			}
			li {
				margin: 20px 0;
			}
		}
		&__twitter {
			a {
				text-decoration: none;
				&:hover > p {
					color: #7cc576;
				}
			}
			span {
				font-family: 'Roboto Slab';
				color: #ececec;
				margin-left: 30px;
				display: block;
				&:nth-child(3) {
					font-weight: bold;
					font-size: 16px;
					margin-top: 2px;
				}
				&:nth-child(4) {
					font-size: 12px;
					margin-top: 5px;
				}
			}
			li {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			img {
				position: relative;
				top: 5px;
			}
			p, img {
				vertical-align: top;
				transition: all 0.5s;
			}
		}
	}
	&__copyright {
		background-color: #fff;
		padding: 35px 10%;
		text-align: center;
		font-size: 0;
		div {
			display: inline-block;
			width: 33.333%;
			vertical-align: middle;
			p {
				font-size: 14px;
				color: #555555;
			}
			a {
				text-decoration: none;
				display: inline-block;
				background-color: #2b2b2b;
				vertical-align: middle;
				border-radius: 50%;
				height: 40px;
				width: 40px;
				transition: all 0.5s;
				margin: 0 10px;
				img {
					position: relative;
					top: 10px;
				}
				&:first-child {
					&:hover { background-color: #00aced; }
					img {
						top: 12px;
					}
				}
				&:nth-child(2):hover {
					background-color: #3b5998;
				}
				&:nth-child(3):hover {
					background-color: #cb2028;
				}
				&:last-child {
					margin-right: 0;
					&:hover { background-color: #da2713; }
					img {
						left: 1px;
						top: 11px;
					}
				}
			}
		}
	}
}